.feedback-form__header {
  padding-top: 27px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  @include border;
  @media ($tablet-width) {
    padding-top: 55px;
    padding-bottom: 73px;
    border: none;
  }
}

.feedback-form__title {
  font-family: "PT-sans-bold","Arial",sans-serif;
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.9px;
  @media ($tablet-width) {
    font-size: 29px;
    letter-spacing: -2px;
  }
}

.feedback-form__text {
  padding-top: 14px;
  font-family: "PT-sans","Arial",sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  @media ($tablet-width) {
    width: 450px;
    margin: 0 auto;
    padding-top: 11px;
  }
}

.feedback-form__content {
  @media ($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    box-sizing: border-box;
    padding-left: 59px;
    padding-right: 60px;
  }
}

.feedback-form__group {
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  @include border;
}

.feedback-form__group--impression {
  padding-bottom: 12px;
  @media ($tablet-width) {
    order: -1;
    width: 324px;
    box-sizing: border-box;
    padding: 0;
    text-align: left;
    border-bottom : none;
    border-right: 1px solid #e5e5e5;
  }
}

.feedback-form__group--name {
  @media ($tablet-width) {
    width: 324px;
    box-sizing: border-box;
    padding: 0;
    padding-left: 58px;
    text-align: left;
    border-bottom : none;
  }
}

.feedback-form__group--contact {
  @media ($tablet-width) {
    position: relative;
    padding: 0;
    padding-top: 70px;
    border: none;
  }
}

.feedback-form__group--visited {
  @media ($tablet-width) {
    position: relative;
    width: 648px;
    padding: 0;
    padding-top: 35px;
    border: none;
  }
}

.feedback-form__group--textarea{
  border: none;
}

.feedback-form__group-title {
  padding-bottom: 20px;
  font-family: "PT-sans-bold","Arial",sans-serif;
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.9px;
  @media ($tablet-width) {
    font-size: 20px;
    letter-spacing: -1.5px
  }
}

.feedback-form__group-title--name {
  @media ($tablet-width) {
    margin-bottom: 37px;
  }
}

.feedback-form__group-title--impression {
  @media ($tablet-width) {
    margin-bottom: 39px;
  }
}

.feedback-form__group-title--contact {
  @media ($tablet-width) {
    letter-spacing: -1px;
  }
}

.feedback-form__group-title--contact::before {
  @media ($tablet-width) {
    content: "";
    position: absolute;
    top: 82px;
    left: 0px;

    width: 125px;
    height: 1px;
    background-color: #dbdbdb;
  }
}

.feedback-form__group-title--contact::after {
  @media ($tablet-width) {
    content: "";
    position: absolute;
    top: 82px;
    right: 0px;

    width: 125px;
    height: 1px;
    background-color: #dbdbdb;
  }
}

.feedback-form__group-title--visited{
  padding-bottom: 17px;
  @media ($tablet-width) {
    width: 300px;
    margin: 0 auto;
  }
}

.feedback-form__group-title--visited::before {
  @media ($tablet-width) {
    content: "";
    position: absolute;
    top: 60px;
    left: 0px;

    width: 125px;
    height: 1px;
    background-color: #dbdbdb;
  }
}

.feedback-form__group-title--visited::after {
  @media ($tablet-width) {
    content: "";
    position: absolute;
    top: 60px;
    right: 0px;

    width: 125px;
    height: 1px;
    background-color: #dbdbdb;
  }
}

.feedback-form__wrap {
  display: flex;
  height: 58px;
  margin-bottom: 20px;
  overflow: hidden;
}

.feedback-form__wrap--impression {
  height: 55px;
  margin-bottom: 15px;
  @media ($tablet-width) {
    margin-bottom: 23px;
  }
}

.feedback-form__wrap--impression:last-child {
  @media ($tablet-width) {
    margin-bottom: 0px;
  }
}

.feedback-form__wrap--name:last-child {
  @media ($tablet-width) {
    margin-bottom: 0px;
  }
}

.feedback-form__wrap--visited {
  height: 60px;
}

.feedback-form__wrap--visited-last {
  height: 55px;
}

.feedback-form__wrap--contact {
  flex-wrap: wrap;
  height: 92px;
  @media ($tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.feedback-form__wrap--error {
  height: 115px;
  margin-bottom: 18px;
  @media ($tablet-width) {
    margin-bottom: 0
  }
}

.feedback-form__label {
  display: block;
  position: relative;
  padding-top: 20px;
  margin-right: 13px;
  font-family: "PT-sans","Arial",sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: -0.4px;
}

.feedback-form__label--bold {
  padding-top: 15px;
  padding-left: 78px;
  font-family: "PT-sans-bold","Arial",sans-serif;
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  letter-spacing: -0.9px;
}

.feedback-form__label--contact {
  padding-top: 0;
  padding-bottom: 7px;
  padding-left: 23px;
  @media ($tablet-width) {
    padding-top: 6px;
  }
}

.feedback-form__wrap--visited .feedback-form__label--bold {
  padding-top: 13px;
}

.feedback-form__wrap--visited-last .feedback-form__label--bold {
  padding-top: 13px;
}

.feedback-form__input {
  display: block;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 15px;
  padding-left: 22px;
  padding-right: 10px;
  font-family: "PT-sans-bold","Arial",sans-serif;
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: -0.9px;
  background-color: #f2f2f2;
  border: none;
}

.feedback-form__input--contact {
  width: 222px;
  height: 58px;
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 13px;
  @media ($tablet-width) {
    width: 590px;
  }
}

.feedback-form__input--email {
  width: 222px;
  height: 58px;
  box-sizing: border-box;
  padding-top: 11px;
  padding-bottom: 11px;
  @media ($tablet-width) {
    width: 590px;
  }
}

.feedback-form__input-container {
  height: 58px;
  width: 280px;
  position: relative;
  @media ($tablet-width) {
    order: 1;
    width: 648px;
  }
}

.feedback-form__input-container--contact {
  @media ($tablet-width) {
    margin-top: -17px;
  }
}

.feedback-form__input-container--email {
  @media ($tablet-width) {
    height: 59px;
  }
}

.feedback-form__btn {
  width: 58px;
  height: 58px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: #e6e6e6;
}

.feedback-form__btn--tel {
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

.feedback-form__btn--email {
  background-image: url(../img/icon-mail.svg);
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

.feedback-form__error {
  padding-top: 7px;
  padding-left: 22px;
  font-family: "PT-sans","Arial",sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #ff5c5c;
  @media ($tablet-width) {
    padding-top: 6px;
    letter-spacing: 0.3px;
  }
}

.feedback-form__textarea {
  width: 280px;
  height: 160px;
  box-sizing: border-box;
  margin-top: -5px;
  padding-top: 18px;
  padding-left: 20px;
  font-family: "PT-sans-bold","Arial",sans-serif;
  font-size: 17px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: -0.6px;
  color: #000000;
  border: none;
  background-color: #f2f2f2;
}

.feedback-form__submit {
  width: 280px;
  height: 58px;
  margin-top: 43px;
  margin-bottom: 43px;
  font-family: "PT-sans-bold","Arial",sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $bg-color-blue;
  border: none;
}

// стилизация чекбоксов

.feedback-form input[type="radio"],
.feedback-form input[type="checkbox"] {
  display: none;
}

.feedback-form input[type="radio"] + label::before {
  content:"";
  position: absolute;
  left: 0px;
  top:0px;

  width: 55px;
  height: 55px;

  background-color: #f2f2f2;
  border-radius: 50%;
}

.feedback-form input[type="radio"]:checked + label::after {
  content:"";
  position: absolute;
  left: 17px;
  top: 18px;

  width: 22px;
  height: 22px;

  background-color: #333333;
  border-radius: 50%;
}

.feedback-form input[type="checkbox"] + label::before {
  content:"";
  position: absolute;
  left: 0px;
  top: 0px;

  width: 55px;
  height: 55px;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.feedback-form input[type="checkbox"]:checked + label::before {
  background-image: url(../img/icon-tick.svg);
  background-repeat: no-repeat;
  background-position: 16px 18px;
}

