.logo {
  height: 56px;
  @media ($tablet-width) {
    position: absolute;
    z-index: 5;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.logo__image {
  height: 84px;
  position: absolute;
  transform: translateX(-50%);
  z-index: 5;
  @media ($desktop-width) {
    width: 188px;
    height: 96px;
  }
}

