.photo {
  position: relative;
  height: 415px;
  box-sizing: border-box;
  padding-top: 23px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "PT-sans","Arial",sans-serif;
  text-align: left;
  @include border;
  @media ($tablet-width) {
    width: 324px;
    height: 347px;
    padding: 0;
    position: relative;
    border: none;
    background-color: #f2f2f2;
  }
  @media ($desktop-width) {
    width: 400px;
    height: 265px;
    padding-bottom: 0px;
    position: relative;
  }
}

.photo--first {
  padding-top: 20px;
  @media ($tablet-width) {
    width: 648px;
    height: 480px;
  }
  @media ($desktop-width) {
    width: 1200px;
    height: 400px;
    padding-bottom: 0px;
  }
}

.photo__link {
  display: block;
  width: 100%;
  height: 280px;
  @media ($tablet-width) {
    height: 267px;
  }
  @media ($desktop-width) {
    width: 400px;
  }
}

.photo--first .photo__link {
  @media ($tablet-width) {
    height: 400px;
  }
}

.photo .photo__picture {
  width: 280px;
  height: 280px;
  @media ($tablet-width) {
    width: 324px;
    height: 267px;
  }
  @media ($desktop-width) {
    width: 400px;
  }
}

.photo--first .photo__picture {
  @media ($tablet-width) {
    width: 648px;
    height: 400px;
  }
  @media ($desktop-width) {
    width: 1200px;
  }
}

.photo__description {
  @media ($tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding-right: 20px;
    padding-left: 21px;
    background-color: #f2f2f2;
  }
  @media ($desktop-width) {
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: rgba(0,0,0, 0.3);
  }
}

.photo__description--up {
  margin-top: -4px;
}

.photo__descroption-text {
  width: 185px;
}

.photo__title {
  padding-top: 16px;
  padding-left: 1px;
  font-family: "PT-sans-bold","Arial",sans-serif;
  font-size: 13px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.6px;
  @media ($tablet-width) {
    padding-top:18px;
  }
  @media ($desktop-width) {
    color: #ffffff;
  }
}

.photo__author {
  padding-top: 5px;
  font-size: 14px;
  letter-spacing: -0.6px;
  @media ($desktop-width) {
    color: #ffffff;
  }
}

picture {
  height: 0;
  width: 0;
}
