.reason__title {
  margin: 0;
  padding-bottom: 10px;
  font-family: "PT-sans-bold","Arial",sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: -0.8px;
  @media ($tablet-width) {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -1.3px;
  }
}

.reason__number {
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 21px;
  @media ($tablet-width) {
    margin-bottom: 20px;
  }
}

.reason__text {
  margin-bottom: 40px;
  font-family: "PT-sans","Arial",sans-serif;
  font-size: 13px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  @media ($tablet-width) {
    line-height: 21px;
  }
}

.reason--image-town {
  width: 320px;
  height: 260px;
  background-color: #ffd6d6;
  @media ($tablet-width) {
    width: 511px;
    height: 256px;
    overflow: hidden;
  }
}

.reason--image-bridge {
  width: 320px;
  height: 260px;
  background-color: #e8b6a4;
   @media ($tablet-width) {
    width: 511px;
    height: 256px;
    overflow: hidden;
  }
}

.reason {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  @media ($tablet-width) {
    padding-top: 46px;
    padding-left: 46px;
    padding-right: 46px;
    box-sizing: border-box;
    width: 33.333333%;
  }
}

.reason--image {
  padding: 0;
}

.reason--town {
  padding-top: 77px;
  background-image: url(../img/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: top 0px left 0px;
  @media ($tablet-width) {
    padding-top: 46px;
    background-image: none;
  }

  @media ($desktop-width) {
    padding-top: 52px;
  }
}

.reason--town .reason__title {
  @media ($desktop-width) {
    width: 125px;
    margin: 0 auto;
  }
}

.reason--town .reason__text {
  @media ($desktop-width) {
    width: 270px;
    margin: 0 auto;
  }
}

.reason--bridge {
  @media ($tablet-width) {
    order: 2;
  }
}

.reason--bridge .reason__title {
  @media ($desktop-width) {
    width: 170px;
    margin: 0 auto;
    padding-top: 5px;
  }
}

.reason--bridge .reason__text {
  @media ($desktop-width) {
    width: 250px;
    margin: 0 auto;
    padding-top: 2px;
  }
}

.reason--icon {
  text-align: left;
  padding-top: 26px;
  padding-left: 70px;
  @media ($tablet-width) {
    text-align: center;
    padding-top: 159px;
    padding-left: 50px;
  }
}

.reason--icon-home {
  background-image: url(../img/icon-house.svg);
  background-repeat: no-repeat;
  background-size: 38px 37px;
  background-position: 22px 17px;

  @media ($tablet-width) {
    background-size: 75px 72px;
    background-position: 90px 60px;
  }

  @media ($desktop-width) {
    background-position: 160px 60px;
  }
}

.reason--icon-souvenirs {
  order: 3;
  background-image: url(../img/icon-gift.svg);
  background-repeat: no-repeat;
  background-size: 32px 38px;
  background-position: 25px 15px;

  @media ($tablet-width) {
    background-size: 64px 74px;
    background-position: 94px 57px;
  }

  @media ($desktop-width) {
    background-position: 167px 57px;
  }
}

.reason--icon-food {
  order: 2;
  background-image: url(../img/icon-burger.svg);
  background-repeat: no-repeat;
  background-size: 40px 35px;
  background-position:18px 20px;

  @media ($tablet-width) {
    background-size: 77px  68px;
    background-position: 89px 63px;
  }

  @media ($desktop-width) {
    background-position: 161px 63px;
  }
}

.reason--icon .reason__title {
  padding-bottom: 14px;
}

.reason--icon .reason__text {
  margin-bottom: 3px;
  @media ($tablet-width) {
    padding-top: 7px;
    padding-bottom: 38px;
  }
  @media ($desktop-width) {
    padding-bottom: 80px;
  }
}

.reason--icon-food .reason__text {
  margin-bottom: 0px;
}

.reason--no-image {
  position: relative;
  padding-top: 30px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 30px;
  @media ($tablet-width) {
    padding-top: 44px;
    padding-bottom: 43px;
    padding-left: 45px;
    padding-right: 45px;
    box-sizing: border-box;
    width: 33.33333%;
    border: none;
  }
}

.reason--no-image:not(:first-child) .reason__title {
  margin-top: -3px;
   @media ($tablet-width) {
    margin-top: 0px;
  }
}

.reason--no-image .reason__title {
  padding-bottom: 11px;
  font-family: "PT-sans-bold","Arial",sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: -0.8px;
  line-height: 21px;
  @media ($tablet-width) {
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: -1.5px;
    line-height: 26px;
  }

  @media ($tablet-width) {
    width: 120px;
    margin: 0 auto;
  }
}

.reason--no-image .reason__number {
  padding-bottom: 5px;
  @media ($tablet-width) {
    padding-bottom: 2px;
  }
}

.reason--no-image .reason__text {
  line-height: 21px;
  margin-bottom: 0px;
  @media ($tablet-width) {
    width: 170px;
    margin: 0 auto;
  }
}

.reason--no-image:not(:first-child) .reason__text {
  margin-top: -2px;
}

.reason--no-image:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: 0;

  width: 280px;
  height: 1px;

  background-color: #d6d6d6;
  transform: translateY(-3px) translateX(-50%);
  @media ($tablet-width) {
    display: none;
  }
}
