.social-btn {
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  font-size: 0;
	background-color:#81b3d2;
  margin-bottom: 5px;

  &:hover {
    background-color:#669ec0;
  }

  &:active {
    background-color:#5496bd;
  }

  @media ($desktop-width) {
    width: 47px;
    margin-right: 5px;
  }
}

.social-btn:last-child {
  @media ($desktop-width) {
    margin-right: 0px;
  }
}

.social-btn--icon {
  padding-top: 15px;
  fill: #ffffff;
}

.social-btn:active .social-btn--icon {
  fill: rgba(255,255,255, 0.3);
}
