.wrapper {
  box-sizing: border-box;
  width: 320px;
  outline: 1px solid red;
  margin: 0 auto;
  background: white;
  @media ($tablet-width) {
    width: 768px;
  }
  @media ($desktop-width) {
    width: 1200px;
  }
}

